<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/main.css">
    <link rel="icon" href="src/img/canbanicon.ico" type="image/x-icon">
    <title>Kanban</title>
</head>
<body>
<div id="app" class="tasks">
        <div class="formTask" v-if="showForm">
          <form @submit.prevent="addTask">
              <h2>Форма создания задачи</h2>
              <label for="title">Заголовок задачи:</label>
              <input id="title" type="text" v-model="newTask.title">
              <label for="description">Описание задачи:</label>
              <textarea id="description" v-model="newTask.description"></textarea>
              <label for="deadline">Дедлайн:</label>
              <input id="deadline" type="date" v-model="newTask.deadline">
              <button type="submit">Добавить задачу</button>
          </form>
      </div>
      <button @click="toggleForm" class="buttonForm">{{ showForm ? 'Убрать форму' : 'Создать Задачу' }}</button>      

    <div class="column">
        <h2>Запланированные задачи</h2>
        <div class="task" draggable="true" v-for="(task, index) in plannedTasks" :key="index">
            <div v-if="editedTaskIndex !== index || editedColumn !== 'plannedTasks'">
                <h3 class="tasks__item">{{ task.title }}</h3>
                <p class="tasks__item">{{ task.description }}</p>
                <p class="tasks__item">Дата создания: {{ task.createdAt }}</p>
                <p class="tasks__item">Дедлайн: {{ task.deadline }}</p>
                <p class="tasks__item">Последнее редактирование: {{ task.lastChange }}</p>
                <button class="buttonedit" @click="startEditing(index, 'plannedTasks')">Редактировать</button>
                <button class="buttondelete" @click="deleteTask(index)">Удалить</button>
                <!-- <button @click="moveToInProgress(index)">Переместить в работу</button> -->
            </div>
            <div v-else>
                <h3>Редактировать задачу</h3>
                <form class="formedit" @submit.prevent="finishEditing">
                  <label for="editTitle">Заголовок задачи:</label>
                  <input id="editTitle" type="text" v-model="editedTask.title">
                  <label for="editDescription">Описание задачи:</label>
                  <textarea id="editDescription" v-model="editedTask.description"></textarea>
                  <label for="editDeadline">Дедлайн:</label>
                  <input id="editDeadline" type="date" v-model="editedTask.deadline">
                  <button type="submit">Сохранить</button>
                  <button class="buttondelete" @click="cancelEditing">Отменить</button>
              </form>
            </div>
        </div>
    </div>

    <div class="column">
        <h2>Задачи в работе</h2>
        <div class="task" draggable="true" v-for="(task, index) in progressTasks" :key="index">
            <div v-if="editedTaskIndex !== index || editedColumn !== 'progressTasks'">
                <h3 class="tasks__item">{{ task.title }}</h3>
                <p class="tasks__item">{{ task.description }}</p>
                <p class="tasks__item">Дата создания: {{ task.createdAt }}</p>
                <p class="tasks__item">Дедлайн: {{ task.deadline }}</p>
                <p class="tasks__item">Последнее редактирование: {{ task.lastChange }}</p>
                <p class="tasks__item" v-if="task.recovery">Причина возврата: {{ task.recovery }}</p>
                <button class="buttonedit" @click="startEditing(index, 'progressTasks')">Редактировать</button>
                <!-- <button @click="moveToTesting(index)">Отправить в тестирование</button> -->
            </div>
            <div v-else>
                <form class="formedit" @submit.prevent="finishEditing(index)">
                    <label for="editTitle">Заголовок задачи:</label>
                    <input id="editTitle" type="text" v-model="editedTask.title">
                    <label for="editDescription">Описание задачи:</label>
                    <textarea id="editDescription" v-model="editedTask.description"></textarea>
                    <label for="editDeadline">Дедлайн:</label>
                    <input id="editDeadline" type="date" v-model="editedTask.deadline">
                    <button type="submit">Сохранить</button>
                    <button class="buttondelete" @click="cancelEditing">Отменить</button>
                </form>
            </div>
        </div>
    </div>

    <div class="column">
        <h2>Тестирование</h2>
        <div class="task" draggable="true" v-for="(task, index) in testingTasks" :key="index">
            <div v-if="editedTaskIndex !== index || editedColumn !== 'testingTasks'">
                <h3 class="tasks__item">{{ task.title }}</h3>
                <p class="tasks__item">{{ task.description }}</p>
                <p class="tasks__item">Дата создания: {{ task.createdAt }}</p>
                <p class="tasks__item">Дедлайн: {{ task.deadline }}</p>
                <p class="tasks__item">Последнее редактирование: {{ task.lastChange }}</p>
                <button class="buttonedit" @click="startEditing(index, 'testingTasks')">Редактировать</button>
                <!-- <button @click="moveToCompleted(index)">Переместить в выполненное</button> -->
                <div>
                  <label for="recovery"><br>Причина возврата:</label>
                  <input class="recovery" type="text" v-model="task.recovery">
                  <button class="buttonmove" @click="returnToInProgress(index)">Вернуть в работу</button>
                </div>
            </div>
            <div v-else>
                <form class="formedit"  @submit.prevent="finishEditing(index, 'testingTasks')">
                    <label for="editTitle">Заголовок задачи:</label>
                    <input id="editTitle" type="text" v-model="editedTask.title">
                    <label for="editDescription">Описание задачи:</label>
                    <textarea id="editDescription" v-model="editedTask.description"></textarea>
                    <label for="editDeadline">Дедлайн:</label>
                    <input id="editDeadline" type="date" v-model="editedTask.deadline">
                    <button type="submit">Сохранить</button>
                    <button class="buttondelete" @click="cancelEditing">Отменить</button>
                </form>
            </div>
        </div>
    </div>

    <div class="column">
        <h2>Выполненные задачи</h2>
        <div class="task" v-for="(task, index) in completedTasks" :key="index">
            <div v-if="editedTaskIndex !== index || editedColumn !== 'completedTasks'">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
                <p>Дата создания: {{ task.createdAt }}</p>
                <p>Дедлайн: {{ task.deadline }}</p>
                <p>Последнее редактирование: {{ task.lastChange }}</p>
                <p class="taskoverdue" v-if="task.isOverdue">Задача просрочена</p>
                <p class="taskcompleted" v-else>Задача выполнена в срок</p>
            </div>
        </div>
    </div>

</div>
<script defer src="src/vue.js"></script>
<script defer src="src/main.js"></script>
</body>
</html>