body {
    background-color: rgb(101, 238, 144);
}
.tasks {
    display: flex; 
    justify-content: space-between;
}
.colums {
    background-color: rgb(86, 240, 189);
    width: 30%;
    display: flex;
    border: 2px solid rgb(110, 235, 235);
    flex-direction: column;
}
.formTask {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 227px;
    height: 290px;
    background-color: #2bc894;
    align-items: center;
    text-align: center;
}
button {
    background: #abff01;
    border-radius: 20px;
    margin-top: 10px;
}
.edit-button {
    background: #00ccff;
}
.delete-button {
    background: #ff1259;
}
.move-button {
    background: #12ffc0;
}